avalanche.json
[{"id":"f2090163.3736a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c5e82af3.ab5158","type":"function","z":"f2090163.3736a","name":"PreToken","func":"global.set(\"s\",msg.payload.s)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"w\",msg.payload.w)\nvar apikey=\"IKtlcb1AwmKj9pEiC6MkE2JnJ_y12DfmHDHcMQ-e0iTm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["5532b41.d713a4c"]]},{"id":"5532b41.d713a4c","type":"http request","z":"f2090163.3736a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":559,"y":428.9999952316284,"wires":[["c4a42cc6.69a91"]]},{"id":"1afd0946.a560a7","type":"debug","z":"f2090163.3736a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":998.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"c4a42cc6.69a91","type":"function","z":"f2090163.3736a","name":"Pre Prediction","func":"var s = global.get('s')\nvar fd = global.get('fd')\nvar sd = global.get('sd')\nvar at = global.get('at')\nvar w = global.get('w')\nvar token=msg.payload.access_token\nvar instance_id=\"dad25aac-2fc6-445f-8ae6-641b48a3a79f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Slope\", \"Forest Density\", \"Snow Density\", \"Air Temperature\", \"Wind\"], \"values\": [[s,fd,sd,at,w]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":756.0000076293945,"y":391.9999990463257,"wires":[["ad4420e6.8d90d"]]},{"id":"ad4420e6.8d90d","type":"http request","z":"f2090163.3736a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e2457950-5938-46a9-952e-2108069d7374/predictions","tls":"","persist":false,"proxy":"","authType":"","x":849.5000076293945,"y":335.9999990463257,"wires":[["ee6c57b1.72e1b8"]]},{"id":"1ea18eef.64ca91","type":"ui_form","z":"f2090163.3736a","name":"","label":"","group":"dc858871.c7b548","order":0,"width":0,"height":0,"options":[{"label":"SLOPE","value":"s","type":"number","required":true,"rows":null},{"label":"Forest Density","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density","value":"sd","type":"number","required":true,"rows":null},{"label":"Air temperature","value":"at","type":"number","required":true,"rows":null},{"label":"Wind","value":"w","type":"number","required":true,"rows":null}],"formValue":{"s":"","fd":"","sd":"","at":"","w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":151,"y":482.9999952316284,"wires":[["c5e82af3.ab5158"]]},{"id":"287d6538.08a82a","type":"ui_text","z":"f2090163.3736a","group":"dc858871.c7b548","order":1,"width":0,"height":0,"name":"","label":"Avalanche prediction","format":"{{msg.payload}}","layout":"row-spread","x":927.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"ee6c57b1.72e1b8","type":"function","z":"f2090163.3736a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":709.6000366210938,"y":231.60000133514404,"wires":[["287d6538.08a82a","1afd0946.a560a7"]]},{"id":"dc858871.c7b548","type":"ui_group","z":"","name":"Default","tab":"60d56075.c36bd","order":1,"disp":true,"width":"6","collapse":false},{"id":"60d56075.c36bd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]