mlproject.json
[{"id":"f2090163.3736a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c5e82af3.ab5158","type":"function","z":"f2090163.3736a","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"IKtlcb1AwmKj9pEiC6MkE2JnJ_y12DfmHDHcMQ-e0iTm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["5532b41.d713a4c"]]},{"id":"5532b41.d713a4c","type":"http request","z":"f2090163.3736a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":559,"y":428.9999952316284,"wires":[["c4a42cc6.69a91"]]},{"id":"1afd0946.a560a7","type":"debug","z":"f2090163.3736a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":998.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"c4a42cc6.69a91","type":"function","z":"f2090163.3736a","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st = global.get('st')\nvar token=msg.payload.access_token\nvar instance_id=\"dad25aac-2fc6-445f-8ae6-641b48a3a79f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time (PST)\", \"Temperature (deg F)\", \"Relative Humidity (%)\", \"Total Snow Depth ()\"], \"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":756.0000076293945,"y":391.9999990463257,"wires":[["ad4420e6.8d90d"]]},{"id":"ad4420e6.8d90d","type":"http request","z":"f2090163.3736a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/75bffc74-4cc0-4e4f-8cad-87335f6463ea/predictions","tls":"","persist":false,"proxy":"","authType":"","x":849.5000076293945,"y":335.9999990463257,"wires":[["ee6c57b1.72e1b8"]]},{"id":"1ea18eef.64ca91","type":"ui_form","z":"f2090163.3736a","name":"","label":"","group":"dc858871.c7b548","order":0,"width":0,"height":0,"options":[{"label":"Date","value":"rd","type":"text","required":true,"rows":null},{"label":"Temperature","value":"ad","type":"number","required":true,"rows":null},{"label":"Relative Humidity","value":"ms","type":"number","required":true,"rows":null},{"label":"Total snow depth","value":"st","type":"number","required":true,"rows":null}],"formValue":{"rd":"","ad":"","ms":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":151,"y":482.9999952316284,"wires":[["c5e82af3.ab5158"]]},{"id":"287d6538.08a82a","type":"ui_text","z":"f2090163.3736a","group":"dc858871.c7b548","order":1,"width":0,"height":0,"name":"","label":"Intermittent Snow prediction","format":"{{msg.payload}}","layout":"row-spread","x":947.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"ee6c57b1.72e1b8","type":"function","z":"f2090163.3736a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":709.6000366210938,"y":231.60000133514404,"wires":[["287d6538.08a82a","1afd0946.a560a7"]]},{"id":"dc858871.c7b548","type":"ui_group","z":"","name":"Default","tab":"60d56075.c36bd","order":1,"disp":true,"width":"6","collapse":false},{"id":"60d56075.c36bd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]